nav {
    height: 900px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background-color: #B7E6D6;
    line-height: 50px;
    text-align: left;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    width: 200px;
    display: block;
    height: 40px;
    margin: 20px 0px 20px 35px;
  }

h3 {
  background-color: #B7E6D6;
  border-radius: 5px;
  padding-left: 30px;
}

h3:hover {
  background-color:#80C2B3;

}
