
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #F0F0F0;
  height: 100%;
  text-align: center;
  width: 100vw;
  display: flex;
}

.primary-section {
  width: 80vw;
  display: inline-block;
}


